<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'SWF Math' %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <%- body %>

    <script src="/js/main.js"></script>
    <script src="/js/auth.js"></script>
</body>
</html>
